<section class="section_team">
    <header class="header_team">
        <div class="header_div">
          <h2>02.</h2>
          <h3>CLIMB</h3>
        </div>
        <p> Lorem ipsum dolor sit amet labore et dolore magna aliqua.</p>
    </header>

    <main class="main_team">
        <header class="bar">
            <div class="button_div_">
                <button>MOUNTAIN 1</button>
                <button>MOUNTAIN 2</button>
            </div>
        </header>

        <div class="schedule">
            
        </div>
    </main>

    <footer class="footer_team">
        <div class="footer_logos">
            <img src="{{logo}}" alt="logo">
            <img src="{{logo2}}" alt="logo">
        </div>

        <p> COPYRIGHT 2023. ALL RIGHTS RESERVED.</p>
    </footer>
</section>