.wrapper {
  width: 100%;
  height: auto;
}

.main {
  width: 300%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition:all 0.5s ease;
  transform: translateX(0%);
}

.history {
  width: 300%;
  display: flex;
  justify-content: center;
  transition: all .5s ease;
  transform: translateX(-33.3%);
}

.team {
  width: 300%;
  display: flex;
  justify-content: center;
  transition: all .5s ease;
  transform: translateX(-66.6%);
}

.section {
  width: calc(100% / 3 );
}


@media (max-width: 600px){
  .main {
    flex-direction: column;
    transform: translateY(0%);
  }

  .history {
    flex-direction: column;
    transform: translateY(-33.3%);
  }

  .team {
    flex-direction: column;
    transform: translateY(-66.6%);
  }

  .section {
    height: calc(100 / 3);
  }
}