.history_section_history {
    background: url('../../../assets/history.png');
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .logos_container {
    display: flex;
    align-items: center;
  }

  .logos_container img {
    padding: 5px;
  }

  .header_nav_history {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
  }

  .header_nav_history a {
    font-size: x-small;
    padding: 2rem;
    color: #3c4d6c;
    font-style: italic;
    font-weight: bold;
  }

  .div_button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #3c4d6c;
  }

  .content_history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content_history .section_div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3c4d6c;
    font-weight: bold;
  }

  .content_history .section_div h2 {
    font-size: 130px;
    color: #3c4d6c;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .content_history .section_div h3 {
    margin: 0px;
    font-size: xx-large;
    font-weight: bold;
  }

  .content_history p {
    margin: 0px;
    width: 40%;
  }

  @media (max-width: 600px){
    .content_history .section_div h2 {
       font-size: 50px;
    }

    .div_button button {
      width: 40%;
    }

    .logos_container img {
      width: 40%;
    }
  }